USE [master]
GO
/****** Object:  Database [TravelStoriesDB]    Script Date: 26/09/2026 17:59:23 ******/
CREATE DATABASE [TravelStoriesDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TravelStoriesDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\TravelStoriesDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TravelStoriesDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\TravelStoriesDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TravelStoriesDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TravelStoriesDB]
GO
/****** Object:  User [TravelStoriesUser]    Script Date: 26/09/2026 17:59:23 ******/
CREATE USER [TravelStoriesUser] FOR LOGIN [TravelStoriesUser] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [TravelStoriesUser]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [TravelStoriesUser]
GO
/****** Object:  Table [dbo].[Stories]    Script Date: 26/09/2026 17:59:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stories](
	[Id] [bigint] NOT NULL,
	[Title] [nvarchar](300) NOT NULL,
	[StartPlace] [nvarchar](200) NOT NULL,
	[Destination] [nvarchar](200) NOT NULL,
	[Transport] [nvarchar](200) NOT NULL,
	[Cost] [decimal](10, 2) NOT NULL,
	[Route] [nvarchar](max) NOT NULL,
	[Experience] [nvarchar](max) NOT NULL,
	[Tips] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Stories] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
USE [master]
GO
